"*":
	"atom-beautify":
		coffeescript:
			indent_with_tabs: true
		css:
			indent_with_tabs: true
		js:
			indent_with_tabs: true
		json:
			indent_with_tabs: true
	"autocomplete-plus":
		confirmCompletion: "tab always, enter when suggestion explicitly selected"
	core:
		disabledPackages: [
			"github"
		]
		telemetryConsent: "no"
	editor:
		atomicSoftTabs: false
		fontSize: 15
		showInvisibles: true
		softTabs: false
		tabType: "hard"
	"exception-reporting":
		userId: "940ab313-b86e-4625-8dcb-5e86879d9e66"
	"go-plus":
		panel:
			currentHeight: "23.953488372093023vh"
		test:
			coverageDisplayMode: "gutter"
			coverageHighlightMode: "disabled"
			runTestsOnSave: false
	welcome:
		showOnStartup: false
